# =========================
# Composer
# =========================
# vendor/ をGit管理しない場合のみ有効
# /vendor/

# =========================
# FuelPHP
# =========================
/fuel/app/logs/*
!/fuel/app/logs/.gitkeep

/fuel/app/cache/*
!/fuel/app/cache/.gitkeep

# =========================
# Environment
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db